@import "./common/variables";
@import "./common/mixins";
@import "./common/keyframes";

@import "./styles";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: $color-black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.2em;
}

.sec-title {
  margin: 1em 0;
  text-align: center;
  font-size: 2.5em;
}

.num-icon {
  height: 40px;
  width: 40px;
  background-color: $color-green;
  color: $color-white;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
